# Enable mod_rewrite
RewriteEngine On

# Automatically append .php to files without extensions
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "http://localhost:9001"
    Header set Access-Control-Allow-Methods "GET, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>